.app-wrapper {
  display: grid;
  

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: rgb(79, 172, 94);
}

.header img {
  width: 50px;
}

.nav {
  grid-area: n;
  background-color: burlywood;
}

.content {
  grid-area: c;
  background-color: indianred;
}

.content img {
  width: 500px;
}